@model CoCWebForm.Models.CoCDataModel

@{  
    ViewBag.Title = $"CoC Form-";  
} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<form id="sample-form" asp-action="AddSample" asp-controller="CoCForm"></form>
<style>
    legend {
        background-color: midnightblue;
        color: white;
        padding: 5px 10px
    }
    input {margin: 3px}
</style>
<h2> Chain of Custody Form </h2> 
<body>
    <form method="post" asp-action="SubmitPrint" asp-controller="CoCForm">
        <fieldset>
            <legend>Work Order: @TempData["WorkOrderNum"]</legend>
                <label for="ServiceOrder">Project ID:</label>
                <input type="text" name="ServiceOrder" value="" />
            <p><div>
                <label for="TestCodes">Test Code :</label>
                <select name="TestCodes-Categories" id="TestCodes">
                    <option value="">-Category-</option>
                        @{var codebank = new TestCodeBank();}
                        @foreach(var category in codebank.CATEGORY)
                        {
                            <option value="@category.ToString()">@category.ToString()</option>
                        }
                </select>
                <select name="TestCodes-Codes" id="TestCodes2">
                    <option value="">-Code-</option>
                        @foreach (var code in codebank.TEST_CODE)
                        {
                            <option value="@code.ToString()">@code.ToString()</option>
                        }
                </select>
                <select name="TestCodes-Desc" id="TestCodes3">
                    <option value="">-Description-</option>
                        @foreach (var desc in codebank.DESCRIPTION)
                        {
                            <option value="@desc.ToString()">@desc.ToString()</option>
                        }
                </select>
            </div></p>
            <p><div>
                <label for="SpecialInstructions">Special Instructions:</label><br />
                <textarea name="SpecialInstructions" rows="4" cols="50"></textarea>
            </div></p>
            <p><div>
                <label for="TssOffice">TSS Office of Origin:</label>
                <input type="text" name="TssOffice" value="" />
            </div></p>
            <p><div>
                <label for="samples">Samples:</label>
                <table id="sampleTable" class="table table-bordered">
                    <thead>    
                        <tr>
                            <th>Sample ID</th>
                            <th>Media Type</th>
                            <th>ISO Class</th>
                            <th>Sample Type</th>
                            <th>Media Lot #</th>
                            <th>Sample Volume/Measure</th>
                        </tr>
                    </thead>
                    <tr id="tablerow0">
                            <td><div class="editor-field"><input class="tesxt-box single-line" name="SampleId[0]" type="text" value="" required="required" /></div></td>
                            <td><div class="editor-field"><input class="tesxt-box single-line" name="MediaType[0]" type="text" value="" required="required" /></div></td>
                            <td><div class="editor-field"><input class="tesxt-box single-line" name="IsoClass[0]" type="text" value="" required="required" /></div></td>
                            <td><div class="editor-field"><input class="tesxt-box single-line" name="SampleType[0]" type="text" value="" required="required" /></div></td>
                            <td><div class="editor-field"><input class="tesxt-box single-line" name="MediaLotNumber[0]" type="text" value="" required="required" /></div></td>
                            <td><div class="editor-field"><input class="tesxt-box single-line" name="SampleVol[0]" type="text" value="" required="required" /></div></td>
                            <td><button type="button" class="btn btn-primary" onclick="removeTr(0);">Delete</button></td>
                    </tr>
                </table>
                <p><button id="add" type="button" class="btn btn-primary">Add</button></p>
            </div></p>
            <br />
            <p><div>
                <label for="SamplesDate">Sample Collection Date:</label>
                <input type="date" name="SamplesDate" value="" />
            </div></p>
            <p><div>
                <label for="ViableSampler">Viable Sampler:</label>
                <input type="text" name="ViableSampler" value="" />
            </div></p>
            <p><div>
                <label for="TechnicianName">Technician Name (eSignature):</label>
                <input type="text" name="TechnicianName" value="" required="required"/>
            </div></p>
            <p><div>
                <label for="eSignDate">eSignature Date:</label>
                <input type="date" name="eSignDate" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
            </div></p>
            <p><div>
                <label for="TrackingNumber">Tracking Number:</label>
                    <input type="text" name="TrackingNumber" cols="50" value="" required="required"/>
            </div></p>
            <p><div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit/Print" />
            </div></p>
        </fieldset>
    </form>
</body>

                @section Scripts{
                    <script type="text/javascript">
                        var counter = 1;
                        $(function (){
                            $('#add').click(function (){
                                $('<tr id="tablerow' + counter + '">' +
                                  '<td><div class="editor-field"><input class="tesxt-box single-line" name="SampleId[' + counter + ']" type="text" value="" required="required" /></div></td>' +
                                  '<td><div class="editor-field"><input class="tesxt-box single-line" name="MediaType[' + counter + ']" type="text" value="" required="required" /></div></td>' +
                                  '<td><div class="editor-field"><input class="tesxt-box single-line" name="IsoClass[' + counter + ']" type="text" value="" required="required" /></div></td>' +
                                  '<td><div class="editor-field"><input class="tesxt-box single-line" name="SampleType[' + counter + ']" type="text" value="" required="required" /></div></td>' +
                                  '<td><div class="editor-field"><input class="tesxt-box single-line" name="MediaLotNumber[' + counter + ']" type="text" value="" required="required" /></div></td>' +
                                  '<td><div class="editor-field"><input class="tesxt-box single-line" name="SampleVol[' + counter + ']" type="text" value="" required="required" /></div></td>' +
                                  '<td><button type="button" class="btn btn-primary" onclick="removeTr(' + counter + ');">Delete</button></td>'
                            ).appendTo('#sampleTable');
                            counter++;
                            return false;
                            });
                        });
                        function removeTr(index){
                            if (counter > 1) {
                                $('#tablerow' + index).remove();
                                counter--;
                            }
                            return false;
                        }
                    </script>
                }